@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Rules */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #eee;
  font-family: "Cairo", sans-serif;
  color: #000;
}
img {
  user-select: none;
  -webkit-user-drag: none;
}
input {
  color: #0075ff;
  outline: none;
  border: #0075ff 1px solid;
  border-radius: 2px;
  direction: ltr;
  padding: 2px;
}
form {
  direction: ltr;
  border: dashed 2px #0075ff;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Components */
@layer components {
  .heading {
    @apply text-2xl p-10 relative before:absolute before:w-14 before:h-1 before:bottom-5 before:right-5 before:bg-primary before:rounded-lg;
  }
}
