@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0075ff;
  font-family: "Cairo", sans-serif;
  color: white;
}

input {
  color: #0075ff;
}

/* Components */
@layer components {
  .heading {
    @apply text-2xl text-center pt-[5rem] pb-5;
  }
}
