@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eee;
  font-family: "Cairo", sans-serif;
  color: #000;
}

input {
  color: #0075ff;
}

/* Components */
@layer components {
  .heading {
    @apply text-2xl p-10 relative before:absolute before:w-14 before:h-1 before:bottom-5 before:right-5 before:bg-primary before:rounded-lg;
  }
}
